<!-- Header content -->
<div class="section no-pad-bot">
  <div class="container">
    <br><br>

    <h1 class="header">Youniverse</h1>

    <div class="row">
      <h5 class="header col s12 light">A modern place to find coolest dress</h5>
    </div>
    <br><br>

  </div>
</div>
<!-- End Header content -->

<!-- Main content -->
<div class="section">
  <div class="row">


    <% if @products.each do |product| %>

        <div class="col s6 m4 l3">
          <div class="card">
            <% if product.design_image.exists? %>
                <div class="card-image waves-effect waves-block waves-light">
                  <%= image_tag product.design_image.url(:preview) %>
                </div>
            <% end %>

            <ul class="card-action-buttons">
              <li><a class="btn-floating waves-effect waves-light red accent-2"><i class="mdi-action-favorite"></i></a>
              </li>
              <li>
                <a class="btn-floating waves-effect waves-light light-blue"><i class="mdi-action-info activator"></i></a>
              </li>
            </ul>
            <div class="card-content">
              <p class="card-title activator grey-text text-darken-4"><%= product.name %></p>

            </div>
            <div class="card-reveal" style="display: none; transform: translateY(0px);">
          <span class="card-title grey-text text-darken-4">
            <a href="#"><%= product.name %></a><i class="material-icons right">close</i></span>

              <p style="margin: 0; font-size: 12px;">Designed by pepito</p>

              <p><%= product.description %></p>

              <p><a href="#!">View more details</a></p>
            </div>
          </div>
        </div>
    <% end.empty? %>
        <p> no publications so far :(</p>

    <% end %>


  </div>
</div>
<!-- End Main content -->

<br><br>

<!-- Login form modal -->
<div id="login-form-modal" class="modal" style="width: 100%">
  <div class="modal-content">
    <div class="row">
      <div class="col s12">

        <div class="valign center">
          <h4>Sign in to Youniverse</h4><br/>
        </div>

        <div class="row center">
          <div class="col s12">
            <% ['twitter'].each do |provider| %>
                <%= link_to omniauth_authorize_path('user', provider), class: "login-google btn waves-effect waves-light red" do %>
                    <i class="mdi mdi-google left"></i> <%= "Sign in with #{provider.to_s.titleize}" %>
                <% end %>
                <br/>
            <% end %>
          </div>
        </div>

        <div class="row center">
          <p class="small">We will never post to Twitter or Facebook without your permission.
            For more info, please see our <a href="#">Login FAQ</a>.</p>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- End Login form modal -->