<!-- Menu bar -->
<nav class="light-blue darken-1" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to root_path, class: 'brand-logo' do %>
        <%= image_tag('ynvs-logo.png', alt: 'youniverse', with: 60, height: 60) %>
    <% end %>

    <% if user_signed_in? %>
        <div class="hide-on-med-and-down" style="float: right; margin-left: 30px;">
          <%= link_to 'Make a request', new_request_path, class: 'waves-effect waves-light btn' %>
        </div>
    <% end %>

    <!-- Standard menu -->
    <ul class="right hide-on-med-and-down">
      <% if user_signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li>
            <%= link_to cart_path do %>
                My Cart (<span class="cart-count"><%= current_user.cart_count %></span>)
            <% end %>
          </li>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
      <% else %>
          <li><a href="#login-form-modal" class="modal-trigger">Sign in</a></li>
      <% end %>
    </ul>
    <!-- End Standard menu -->

    <!-- Mobile menu -->
    <ul id="nav-mobile" class="side-nav" style="left: -250px;">
      <% if user_signed_in? %>
          <li><%= link_to current_user.name, current_user %></li>
          <li><%= link_to "Logout", destroy_user_session_path %></li>
          <li><%= link_to 'Make a request', new_request_path, class: 'waves-effect waves-light btn' %></li>
      <% else %>
          <li><a href="#login-form-modal" class="modal-trigger">Sign in</a></li>
      <% end %>
    </ul>
    <!-- End Mobile menu -->

    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
<!-- End Menu bar -->