<h1>Orden #<%= @order.id %> </h1>

<h3>pago:</h3>
<p>medio/canal: <%= @payment.channel %> </p>
<p>estado: <%= @payment.status %> </p>
<p>código de transaccion: <%= @payment.transaction_id %> </p>
<p>fecha de pago: <%= @payment.purchased_at %> </p>
