<h1>Order #<%= @order.id %> </h1>

<h3>payment:</h3>
<p>channel: <%= @payment.channel %> </p>
<p>status: <%= @payment.status %> </p>
<p>transaction: <%= @payment.transaction_id %> </p>
<p>purchased at: <%= @payment.purchased_at %> </p>
