<div id="mycart">
  <div class="p1 glassy-bg mb1 text-center radius-l1 radius-r1">
    <h4>My Cart</h4>

    <p class="mb0"> You've selected <span class="cart-count"><%= current_user.cart_count %></span> products!</p>
  </div>

  <div class="row">

    <% @cart_items.each do |item| %>
        <div class="col l4">
          <div data-equalizer class="cart-movie large-12 column mb1">
            <%= link_to '' do %>
                <%= image_tag item.model_item.image.url(:thumb), class: "radius-l1" %>
            <% end %>
            <div class="column large-7 glassy-bg text-center" data-equalizer-watch>
              <p class="scale ptm"> <%= item.model_item.model.name %> </p>
            </div>
          </div>
        </div>
    <% end %>
  </div>

  <% if @cart_items.exists? %>

      <div class="row">
        <%= link_to checkout_cart_path do %>
            <%= image_tag 'https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif', align: 'left', style:'margin-right:7px;' %>
        <% end %>
      </div>

  <% end %>
</div>