<!DOCTYPE html>
<html>
<head>
  <title>Youniverse</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= favicon_link_tag 'ico/favicon.ico', type: 'image/x-icon' %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <script src="https://raw.github.com/scottjehl/Respond/master/dest/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<%= render 'shared/header' %>
<!--<p class="notice"><%= notice %></p>-->
<!--<p class="alert"><%= alert %></p>-->

<% if user_signed_in? and current_user.empty_email? %>
    <p style="text-align: center; font-size: 18px">
      <strong>Por favor, indica tu dirección de email, esto lo hacemos para mejorar la
        experiencia: <%= link_to 'editar perfil', edit_user_path(current_user) %></strong>
    </p>
<% end %>

<%= yield %>
<%= render 'shared/footer' %>

<%= render 'shared/login_modal' %>

<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<%= render 'shared/mp_script' %>
<%= render 'shared/ga_script' %>
</body>
</html>
